@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  /* background-color: #e6e6ff; */
  width: 100vw;
  overflow-x: hidden;
  @apply text-black bg-[#e6e6ff] dark:text-gray-400 dark:bg-gray-800;
}
.animateButton {
  animation-duration: 10000ms;
}
.ql-container {
  border: none !important;
}
.ql-toolbar {
  border: none !important;
}
.ql-editor {
  border: none !important;
}
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
